{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<div >
    <h2 class="titre" >connection</h2><br />
    <form  id="connection">
        <input class="form_col2 input1" id="lmail" type="email" name="lmail" placeholder="adresse mail"/>
        <br />
        <input class="form_col2 input1" name="pwd1" id="pwd1" type="password" placeholder="mot de passe"/>
        <br />
        <button id="btnvalideConnection" class="bouton2" type="button">connection</button>

    </form>
    </div>     
</div>
{% endblock %}